{
  "extends": [
    "prettier",
    "vue"
  ],
  "plugins": [
    "prettier",
    "testcafe"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "import/no-unassigned-import": 0,
    "comma-dangle": "off",
    "space-before-function-paren": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}
